.crud_details {
  display: flex;
  gap: 10px;
  align-items: center;
}

.crud_details .crud_name {
  width: 150px;
}

.crud_details .edit_crud {
  display: flex;
  align-items: center;
  gap: 10px;
}

.crud_details .edit_crud svg {
  width: 20px;
  height: 20px;
}

.add_crud {
  display: flex;
  gap: 10px;
  width: 150px;
  align-items: flex-end;
}

.add_crud button {
  height: 20px;
}

.crud_inputs_wrapper {
  display: flex;
  gap: 10px;
}

.crud_button {
  all: unset;
  max-height: 50px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #90caf9;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.crud_button:hover {
  webkit-text-decoration: none;
  text-decoration: none;
  background-color: rgba(144, 202, 249, 0.08);
}

.no_data_on_system {
  font-size: 16px;
  font-weight: bold;
}

.error_message {
  color: red;
}
